/*---Overall formatting----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    max-height: 100vh !important;
    background-size: 100% 100%;
}

body {
    font-family: 'Comfortaa', cursive;
    color: lightslategray;
    font-size: 1px;
    overflow: hidden;
    padding: 0;
}

/*------------Scrollbar !!!Does not work on firefox!!!----------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3a474b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*-----------General formatting--------------*/
hr {

    height: 1px;
    border: 0;
    border-top: 1px solid lightslategray;
    margin: 3% auto 3% auto;
    padding: 4%;
    width: 90%;
    left: 50%;
}

p {
    position: absolute;
    font-size: 1vw;
}

h1 {
    position: absolute;
    text-align: center;
    font-size: 1vw;
}

h3 {

    font-size: 1.5vw;
    padding: 0.5%;
    text-align: center;
}

div {
    position: relative;
    display: flex;
    padding: 0;
}

div > select {
    position: absolute;
    left: 48%;
    width: 45%;
    top: 20%;
    font-size: 1vw;
    height: 1.6vw;
}

div > input {
    position: absolute;
    width: 45%;
    right: 1%;
    top: 0%;
    height: 20px;
    padding: 0;
    margin: 5%;
}

button {
    position: relative;
    background-color: #5596BE;
    border: none;
    color: white;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
    cursor: pointer;
    font-size: 1vw;
    font-family: sans-serif;
}

button:hover {
    text-decoration: underline;
    filter: brightness(0.8);
}

/*--------------------------Main containers------------------------------------------------*/

.appContainer {
    box-sizing: border-box;
    position: absolute;
    display: grid;
    grid-template-areas:
        'head head head'
        'menu toolbar workArea'
        'footer footer footer';
    grid-template-rows: 6% 1fr 15%;
    grid-template-columns: 6% 15% 1fr;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
}


.topMenu {
    align-items: center;
    grid-area: head;
    background-color: #144e5f;
    box-shadow: 0px 30px 50px 25px rgba(0, 0, 0, 0.05);

}

.sideMenu {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    grid-area: menu;
    background-color: #092127;
    box-shadow: 10px 5px 30px 0px rgba(0, 0, 0, 0.08);
    align-content: center;
}

.toolbar {
    flex-direction: column;
    justify-content: center;
    grid-area: toolbar;
    background-color: #3a474b;
    box-shadow: 10px 5px 30px 0px rgba(0, 0, 0, 0.05);

}

.workArea {
    display: flex;
    justify-content: space-around;
    grid-area: workArea;
    background-color: #354044;

}

.slidePreview {
    display: flex;
    grid-area: footer;
    background-color: #144e5f;
    box-shadow: 0px -20px 20px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    overflow-x: auto;

}

.currentSlide {
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    margin: auto;
    width: 80%;
    padding-bottom: 45%;
    box-shadow: 10px 15px 80px 10px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    color: #555555;

}



/*------------------------------Icons, general--------------------------------------------------*/
.topIcon {
    height: 60%;
    width: auto;
    margin: 0.4%;

}


.topIcon:hover {
    filter: brightness(3);
}

#logo {
    font-weight: bold;
    position: absolute;
    left: 8%;
}


.toolbarIcon {
    height: 3vw;
    width: 3vw;
    margin: 2%;
    margin-bottom: 10%;
}

.toolbarIcon:hover {
    filter: brightness(3);
}


.icon {
    padding: 1%;
    height: auto;
    width: 65%;
}

.icon:hover {
    filter: brightness(3);


}


.toolbarSection {
    justify-content: center;
}

#newSlide {
    position: absolute;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    margin: auto;
    top: 10%;
    left: 1%;
    width: 10%;
    padding-bottom: 5.625%;
    box-shadow: 10px 15px 80px 10px rgba(0, 0, 0, 0.5);

}

#newSlideIcon {
    position: absolute;
    top: 10%;
    height: 75%;
    width: auto;

}

/*----------------------TopBar----------------------------*/
#fileName {
    position: sticky;
    margin: 1%;
    padding: 0%;
    left: 55%;
    text-align: center;
    font-size: 1.5vw;

}

/*Specific positions for icons in the top right*/

#settingsIcon {
    position: sticky;
    left: 96%;

}

#saveIcon {
    position: sticky;
    left: 93.1%;

}

#shareIcon {
    position: sticky;
    left: 90%;

}

/*------------------------------------- WorkArea------------------------------------------*/



#slideNumber {
    position: absolute;
    font-size: 1vw;
    bottom: 1%;
    left: 1%;
    color: lightslategray;
}

#fullscreenIcon {
    padding: 0.5%;
    position: absolute;
    bottom: 1%;
    right: 0.5%;
    height: auto;
    width: 3%;
    border: 1px solid #5596BE;

}

#fullscreenIcon:hover {
    filter: brightness(3);
    border: 1px solid white;
    width: 3.5%;
    transition: width 0.1s;
}



/*-----------------------Slidepreview--------------------*/
.numberedSlides {
    position: absolute;
    width: 100vw;
    padding: 0 3.5% 0 3.5%;
    top: 82%;

}



/*-------------------------------Toolbar-----------------------------*/

.toolbar > div {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    text-align: center;

}

.toolbar h2 {
    font-size: 2vw;
    margin: 2vh 0 2vh 0;
    padding: 0;

}

.toolbar p {
    position: relative;
    text-align: left;
    padding: 3%;
    font-size: 1.1vw;
}

.toolbar h3 {
    position: relative;
}

/*-----TextToolbar----*/
#textToolbar {
    display: block;
}

/*------Dropdown---------*/


/*--Div containing the button and all elements--*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*--The menu itself--*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3a474b;
    min-width: 300%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 99%;
    top: -50%;

}

/*--The links within the menu--*/
.dropdown-content a {
    font-size: 1vw;
    color: lightslategray;
    padding: 5%;
    text-decoration: none;
    display: block;
    border-top: 1px solid transparent;
}

.dropdown-content a:hover {
    background-color: #354044;
    border: 1px solid lightslategray;
}

.dropdown:hover .dropdown-content {
    display: inline-block;

}

/*-----ImagesToolbar-----*/

/*-----TemplatesToolbar----*/

#templatesToolbar {
    overflow: auto;
    height: 79vh;
}

#templatesToolbar img {
    width: 40%;
    height: auto;
}

#templatesToolbar h2 {
    font-size: 1.8vw;
}

/*-----StylesToolbar-----*/
#stylesToolbar {
    overflow: auto;
    height: 79vh;
    position: absolute;

}

#stylesToolbar hr {
    margin: 5% 0 5% 0;
    padding: 0;
    position: relative;
    left: 5%;
    width: 90%;

}

#stylesToolbar h2 {
    font-size: 1.6vw;
}

.themeThumbnail {
    position: relative;
    width: 70%;
    border-top: 1px solid transparent;

}

.themeThumbnail:hover {
    filter: brightness(1.05);
    */ border: solid 1px black;
}

/*-----SpeakerNotesToolbar----*/

.textBox {

    position: absolute;
    background-color: white;
    border: solid 1px black;
    height: 70%;
    top: 14%;
    max-height: 70%;
    width: 80%;
    font-family: sans-serif;
    overflow: none;
    left: 10%;
}

.textBox > p {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: vertical;
    overflow-y: auto;

}

#speakerNotesToolbar button {
    position: absolute;
    left: 11%;
    top: 86%;
    top: 86%;

}

/*-----SlideSettingsToolbar----*/


/*-------------------------------------Templates---------------------------------------------*/


/*-------TitleTemplate--------*/
.titleTemplate {
    font-size: inherit;
    position: absolute;
    height: 100%;
    width: 100%;

}


.titleTemplate > h1 {


    /*  border: 1px dotted gray;*/
    font-size: 12%;
    top: 25%;
    width: 100%;
    padding: 1% 0 1% 0;
}

.titleTemplate > h3 {

    position: absolute;
    top: 60%;
    width: 100%;
    /*  border: 1px dotted gray;*/
    font-size: 8%;
    padding: 1% 0 1% 0;
}
