* {
    box-shadow: none !important;
    border: none !important;

}

#slideContainer {
    width: 100vw;
    padding-bottom: 56.25vw;
    border: 1px solid black !important;
    font-size: 100vw !important;
}

#fullscreenIcon {
    opacity: 1 !important;
    bottom: 40%;
    right: 40%;
    opacity: 0.8;
    padding: 0.5%;
    width: 20%;
  
}

#fullscreenIcon:hover {
    opacity: 1;
    filter: brightness(1);
    
    width: 20%;
    transition: width 0.1s;
}

.textbox:hover > .textboxMenu img {
    display: none;
}
