/* --- Overall formatting --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    max-height: 100vh !important;
}

body {
    font-family: 'Comfortaa', cursive;
    color: lightslategray;
    font-size: 1px;
    overflow: hidden;
    padding: 0;
    background-color: #354044;
}


/* --- General formatting --- */
/*
hr {

    height: 1px;
    border: 0;
    border-top: 1px solid lightslategray;
    margin: 3% auto 3% auto;
    padding: 4%;
    width: 90%;
    left: 50%;
}
*/
p {
    position: absolute;
    font-size: 1vw;
}

h1 {
    font-size: 1.7vw;
    padding: 0.5%;
    text-align: center;
}

h3 {
    font-size: 1.4vw;
    padding: 0.5%;
    text-align: center;
}

div {
    position: relative;
    display: flex;
    padding: 0;
}